canvas {
  width: 1400px;
  height: 1400px;
  border: 2px solid black;
  background-image: url(./src/SaveSpace.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
